    #drivermap {
            height: 68vh;
            /* The height is 600 pixels */
            width: 100%;
            /* The width is the width of the web page */
            /*margin: 0px;*/
            margin-right: 0px;
            overflow: hidden;
    }
    #navBar {
        width: 100%;
        height: 50px;
        margin-bottom: 12px;
        margin-left: 0px;
        border: 0px;
        position: sticky;
        z-index: 1;
    }

    /* #currLocation {
            width: 100%;
            height: 50px;
            margin-bottom: 12px;
            margin-left: 0px;
            border: 0px;
            position: sticky;
            z-index: 1;
        }
	 #getLocation {
           background-color: #563D7C!important;
            height: 5.5vh;
            margin-bottom: 10px;
            margin-left: 15px;
            margin-right: 15px;
        } 
	#manualLocation {
        background-color: #563D7C!important;
		height: 5.5vh;
        margin-bottom: 0px;
        margin-left: 15px;
        margin-right: 15px;
        } 	
	#updateAllBtn {
        background-color: #563D7C!important;
		height: 5.5vh;
        margin-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
        } 		 */
	#updateDriverInfoBtn{
        background-color: #563D7C!important;
		height: 5.5vh;
        margin-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
        } 	
	#allUsersBtn {
        background-color: #563D7C!important;
		height: 5.5vh;
        margin-bottom: 0px;
        margin-left: 15px;
        margin-right: 15px;
        } 		
    #allUsersBtn {
        background-color: #563D7C!important;
		height: 5.5vh;
        margin-bottom: 0px;
        margin-left: 15px;
        margin-right: 15px;
        } 				
	* { box-sizing: border-box; }
	.latlng { width: 30em; max-width: 100%; }
	.latlng p { display: inline-block; max-width: 50%; }
	.latlng p:nth-child(1) { float:left; }
    .latlng p:nth-child(2) { float:right; }	
    
    .buttons{padding:20px 0 0 140px}
    
         input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
    
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }