
       /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */ 
        #map {
            height: 63vh;
            /* The height is 600 pixels */
            width: 100%;
            /* The width is the width of the web page */
            /*margin: 0px;*/
            margin-top: 0.8vh;
            margin-right: 0px;
            margin-bottom: 1vh;
            overflow: hidden;
        }
        
        #navBar {
            width: 100%;
            height: 6.1vh;
            margin-left: 0px;
            border: 0px;
            position: sticky;
            z-index: 1;
        }
        .container-fluid{
            padding-left : inherit;
            padding-right :inherit;
        }
        
        #bovDetails {
            width: 100%;
            height: 9vh;
            background-color: white;
            margin-top: 20px;
            margin-bottom: 16px;
        } 
        h4{
            font-size : 0.9rem;
        }
      
        #BOOKbutton {
           background-color: #563D7C!important;
            height: 5.5vh;
            margin-top:0.2vh;
            margin-left: 15vw;
            margin-right: 15vw;
        } 
        /* Optional: Makes the sample page fill the window. */
        
        .row {
            margin-top: 5px;
            margin-left: 0;
            margin-right: 0;
        }

        html,
        body {
            font-size :2vh;
            height: 100%;
            margin: 0;
            padding: 0;
        }

    /*Styling the dialog box above the marker*/
    .gm-style .gm-style-iw {
        font-weight: 300;
        font-size: 2vh;
        overflow: hidden;
    }