    #drivermap {
            height: 56vh;
            /* The height is 600 pixels */
            width: 100%;
            /* The width is the width of the web page */
            /*margin: 0px;*/
            margin-top: 0.8vh;
            margin-bottom: 1vh;
			overflow: hidden;
    }
    form{
        margin-bottom : 0em;
    }
    label{
        margin-bottom : 0em;
    }
    #navBar {
        width: 100%;
        height: 6.1vh;
        margin-left: 0px;
        border: 0px;
        position: sticky;
        z-index: 1;
    }
    .form-group {
        margin-bottom: 0.1px;
    }
    .row {
        margin-top: 5px;
        margin-left: 0;
        margin-right: 0;
    }
    .container-fluid{
        padding-left : inherit;
        padding-right :inherit;
    }
    
    /*Styling the dialog box above the marker*/
    .gm-style .gm-style-iw {
        font-weight: 300;
        font-size: 2vh;
        overflow: hidden;
    }
    /* } font-size: 40px!important; */

	/* #VTS {
		font-size: 40px !important;
	}	
	#size {
		font-size: 30px !important;
	}	 */
		
		/* #currLocation {
            width: 100%;
            height: 50px;
            margin-bottom: 12px;
            margin-left: 0px;
            border: 0px;
            position: sticky;
            z-index: 1;
        }
	 #getLocation {
           background-color: #563D7C!important;
            height: 5.5vh;
            margin-bottom: 10px;
            margin-left: 15px;
            margin-right: 15px;
        } 
	#manualLocation {
        background-color: #563D7C!important;
		height: 5.5vh;
        margin-bottom: 0px;
        margin-left: 15px;
        margin-right: 15px;
        } 	
	#updateAllBtn {
        background-color: #563D7C!important;
		height: 5.5vh;
        margin-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
        } 		 */
    #updateDriverInfoBtn {
        background-color: #563D7C!important;
		height: 5.5vh;
        margin-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
		/* font-size: 40px; */
    } 	
	#allUsersBtn {
        background-color: #563D7C!important;
		height: 6vh;
        margin-bottom: 0px;
        margin-left: 15px;
        margin-right: 15px;
		/* font-size: 40px; */
        } 		
    #myUsersBtn {
        background-color: #563D7C!important;
		height: 5.5vh;
        margin-bottom: 0px;
        margin-left: 15px;
        margin-right: 15px;
		/* font-size: 40px; */
        } 				
	* { box-sizing: border-box; }
	.latlng { width: 30em; max-width: 100%; }
	.latlng p { display: inline-block; max-width: 50%; }
	.latlng p:nth-child(1) { float:left; }
    .latlng p:nth-child(2) { float:right; }	
    
    .buttons{padding:20px 0 0 140px}
    
         input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
    
        html,
        body {
            font-size :2vh;
            height: 100%;
            margin: 0;
            padding: 0;
        }